# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Allure
allure-results/
allure-report/

# WDIO
reports/
errorShots/

# Sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Misc
.env
